<h1>New Blogger</h1>

<%= form_with model: Blogger.new do |form| %>

    <h3>Name</h3>
    <%= form.text_field :name %>

    <h3>Age</h3>
    <%= form.text_field :age %>

    <h3>Bio</h3>
    <%= text_area :blogger, :bio %>

    <br>
    <br>
    
    <%= form.submit %>

<% end %>